.accordion-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion-group__item {
  border-top: 1px solid #000;
}

.accordion-group__item:last-child {
  border-bottom: 1px solid #000;
}

.accordion {
  --transition-duration: 0.3s;
  --transition-duration-longer: 0.5s;

  width: 100%;
  color: var(--navy);
}

/* Если внутри есть стрелка — отключаем псевдоэлементы */
.accordion:has(.accordion__arrow) .accordion__title {
  padding-right: 0;
}

.accordion:has(.accordion__arrow) .accordion__title::before,
.accordion:has(.accordion__arrow) .accordion__title::after {
  display: none;
}

/* Открытое состояние details */
.accordion__details[open] .accordion__title::after {
  rotate: 0deg;
}

.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
}

.accordion__details[open] .accordion__arrow {
  rotate: 45deg;
}

/* Summary */
.accordion__summary {
  list-style: none;
  cursor: pointer;
  user-select: none;
}

.accordion__details {
  padding-block: 1rem;
}

.accordion__summary:hover {
  /* color: var(--color-red-60); */
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

/* Title */
.accordion__title {
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
  padding-right: 50px;
  color: inherit;
  transition-duration: var(--transition-duration);
  font-size: var(--fs-22);
  font-weight: 400;
}

.accordion__title::before,
.accordion__title::after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 2.5px;
  border-radius: 10px;
  transition-duration: var(--transition-duration-longer);
}

.accordion__title::after {
  rotate: 90deg;
}

/* Subtitle */
.accordion__subtitle {
  font-size: 0.75em;
  font-weight: 500;
  /* color: var(--color-gray-60); */
}

/* Arrow */
.accordion__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin-left: auto;
  border-radius: 50%;
  transition-duration: var(--transition-duration-longer);

  svg {
    width: 24px;
    height: 24px;
  }
}

/* Content */
.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: var(--transition-duration-longer);
}

.accordion__content-inner {
  overflow: hidden;
}

.accordion__content-body {
  padding: 1rem .5rem;
}
