/* Dicount */
.discount {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.discount__item {
	width: 240px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: var(--black-10) 0px 0px 10px;
	text-align: center;
	margin: 10px;
}

.discount__item>span:first-child {
	font-size: var(--fs-36);
	text-align: center;
	display: block;
	line-height: 120%;
	font-weight: 500;
	margin-bottom: 3px;
}
