/* nav-tabs */

.nav-tabs {
	--active-color: var(--navy);

	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	align-items: flex-end;
	border-bottom: 1px solid var(--gray-e5);
	padding-bottom: 4px;
	margin-bottom: 20px;
}

.nav-tabs__select-wrap {
	display: none;
	width: 100%;
}

.nav-tabs__select {
	width: 100%;
	min-height: 48px;
	padding: 0 48px 0 16px; /* справа место под иконку */
	border: none;
	background-color: rgb(239,68,68);
	color: var(--white);
	font-size: 16px;
	border-radius: .375rem;
	appearance: none;

	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7L10 12L15 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 16px center;
	background-size: 20px;
}

.nav-tabs__link {
	position: relative;
	display: inline-block;
	padding-bottom: 6px;
	text-decoration: none;
	color: var(--gray-1a);
	font-size: 16px;
	transition: color .2s ease;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.nav-tabs__link:hover {
	color: var(--active-color);
}

.nav-tabs__link.is-active {
	color: var(--active-color);
	font-weight: 600;
}

.nav-tabs__link.is-active::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 3px;
	background-color: var(--active-color);
}

@media (max-width: 767px) {
	.nav-tabs {
		display: block;
		border-bottom: 0;
		padding-bottom: 0;
	}

	.nav-tabs__link {
		display: none;
	}

	.nav-tabs__select-wrap {
		display: flex;
		gap: 1rem;
		align-items: center;
	}
}
