/* Sizes */
h1 {
	font-size: var(--fs-36);
}

h2 {
	font-size: var(--fs-36);
}

h3 {
	font-size: var(--fs-24);
}

h4 {
	font-size: var(--fs-20);
}

h5 {
	font-size: var(--fs-18);
	line-height: 140%;
}

h6 {
	font-size: var(--fs-16);
	line-height: 140%;
}
